.text-black {
    color: black !important;
}

.main-content {
    flex: 1 0 auto;
    width: 100%;
    padding-bottom: 60px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}