.main-content {
    flex: 1 0 auto;
    padding: 20px 0;
}

.card {
    max-width: 500px;
    margin: 0 auto;
}

.password-requirements ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.password-requirements li {
    margin-bottom: 3px;
}